<div class="form-floating collection__sorting ms-md-auto js-sorting">
  {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
  <select name="sort_by" id="sortBy"
    class="form-select js-sortby"
    data-default-sortby="{{ collection.default_sort_by }}"
  >
    {%- for option in collection.sort_options -%}
      <option value="{{ option.value }}" {% if option.value == sort_by %}selected="selected"{% endif %}>{{ option.name }}</option>
    {%- endfor -%}
  </select>
  <label for="sortBy">{{ 'collections.sorting.title' | t }}</label>
</div>
