{% case platform %}
  {% when "vimeo" %}
    {% assign url = 'https://player.vimeo.com/video/' %}
    {% assign options = '' %}
  {% when "dailymotion" %}
    {% assign url = 'https://www.dailymotion.com/embed/video/' %}
    {% assign options = '?autoplay=1' %}
  {% else %}
    {% assign url = 'https://www.youtube.com/embed/' %}
    {% assign options = '?rel=0&hd=1' %}
{% endcase %}

<div class="container">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src="{{ url }}{{ id }}{{ options }}" class="embed-responsive-item" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
