{%- assign align = '' -%}
{%- if center -%}
  {%- assign align = ' text-center' -%}
{%- endif -%}
{%- if background -%}
  {%- assign custom_background = 'bg-light' -%}
{%- endif -%}
<div class="py-5 {{ custom_background }}">
  <div class="container">
    <div class="alert alert-{{ type }}{{ align }} mb-0" role="alert">
      {{ message }}
    </div>
  </div>
</div>
