{%- assign product_featured = all_products[id] -%}
{%- if background -%}
  {%- assign custom_background = 'bg-light' -%}
{%- endif -%}
<div class="py-3 py-md-5 {{ custom_background }}">
  <div class="container">
    {% include 'product', item: product_featured, featured: true %}
  </div>
</div>
