{%- if background -%}
  {%- assign custom_background = 'bg-light' -%}
{%- else -%}
  {%- assign custom_background = '' -%}
{%- endif -%}

{%- if container != false -%}
<div class="py-5 {{ custom_background }}">
  <div class="container">
{%- endif -%}
    <div class="row align-items-center {% if inverse %}flex-row-reverse{% endif %}">
      <div class="col-md-6">
        {%- include 'image', src: image, alt: title, size: '630x630', mobile_size: '345x345', img_class: 'img-fluid' -%}
      </div>
      <div class="col-md-6">
        <h2>{{ title }}</h2>
        {%- if text != blank -%}
        <div class="rte">
          {{ text | newline_to_br }}
        </div>
        {%- endif -%}
      </div>
    </div>
{%- if container != false -%}
  </div>
</div>
{%- endif -%}
