{%- if background -%}
  {%- assign custom_background = 'bg-light' -%}
{%- endif -%}
{%- if container != 'container' -%}
  {%- assign padding_class = "" -%}
{%- else -%}
  {%- assign padding_class = "py-4" -%}
{%- endif -%}
<div class="{{padding_class}} {{ custom_background }}">
  <div class="{{ container }}">
    {%- assign ratio= '16x9' -%}
    {%- include 'video-url' -%}
  </div>
</div>
