{%- if background -%}
  {%- assign custom_background = 'bg-light' -%}
{%- endif -%}
<div class="py-5 {{ custom_background }}">
  <div class="container">
    {%- include 'image', src: image, img_class: 'img-fluid' -%}
  </div>
</div>
