{% assign cover_ratio = 'calc(9 / 30 * 100%)' %}
<section class="container-fluid p-0">
  <div class="card bg-secondary">
    {% case featured_media.media_type %}
      {% when 'image' %}
        <div class="ratio" style="--bs-aspect-ratio: {{ cover_ratio }}">
          {%- include 'image', src: featured_media, size: '1600x400' -%}
        </div>
      {% when 'external_video' %}
        {%- include 'external-video', ratio: cover_ratio, media: featured_media -%}
      {% when 'video' %}
      {%- include 'video', media: featured_media, ratio: cover_ratio, poster: "1600x450", muted: true, autoplay: true -%}
    {% endcase %}
    <div class="card-img-overlay">
      <div class="middle">
        <h1 class="display-1 mb-0">{{ title }}</h1>
      </div>
    </div>
  </div>
</section>
