<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFaceted" aria-labelledby="offcanvasFacetedLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasFacetedLabel">Faceted</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {%- include 'faceted' -%}
  </div>
</div>
