{%- assign ratio_image = 'ratio-1x1' -%}
{%- assign image_size = '630x630' -%}
{%- assign image_size_mobile = '630x630' -%}

<a href="{{ featured_image | img_url: custom_size_large }}" class="js-glightbox">
  <div class="ratio {{ratio_image}}">
    {%- include 'image', src: featured_image, size: image_size, mobile_size: image_size_mobile, class: "img-fluid mb-3", lazy: false -%}
  </div>
</a>

{%- for image in product.images offset:1 -%}
  <a href="{{ image | img_url: custom_size_large }}" class="js-glightbox">
    <div class="ratio {{ratio_image}}">
      {%- include 'image', src: image, size: image_size, mobile_size: image_size_mobile, class: "img-fluid" -%}
    </div>
  </a>
{%- endfor -%}
