<div class="product__widget js-addtocart-widget">
  <div class="container">
    <p class="mb-0">
      <span class="title">{{ product.title }}</span><br>
      <span class="price">
        {%- if current_variant.compare_at_price != nil -%}
          <del class="me-1 js-product-price-discount">{{ current_variant.compare_at_price | money }}</del>
        {%- endif -%}
        <span class="js-product-price">{{ current_variant.price | money }}</span>
      </span>
    </p>
    <button type="submit" name="add" class="btn btn-sm btn-primary js-addtocart">{{ "products.product.add_to_cart" | t }}</button>
  </div>
</div>
