{%- assign ratio_image = 'ratio-1x1' -%}
{%- assign image_size = '740x740' -%}
{%- assign image_size_mobile = '345x345' -%}
{%- assign image_lightbox = '1000x1000' -%}

{%- for image in product.images -%}
  <a href="{{ image | img_url: image_lightbox }}" class="js-glightbox">
    <div class="ratio {{ratio_image}}">
      {% assign no_lazy = false %}
      {% if forloop.first %}
        {% assign no_lazy = true %}
      {% endif %}
      {%- include 'image', src: image, size: image_size, mobile_size: image_size_mobile, no_lazy: no_lazy -%}
    </div>
  </a>
{%- endfor -%}
