{% assign related_1 = product.metafields.related.product_1 %}
{% assign related_2 = product.metafields.related.product_2 %}
{% assign related_3 = product.metafields.related.product_3 %}
{%- if related_1 or related_2 or related_3 -%}
  <section id="related">
    <div class="container pb-5">
      <hr>
      <h2>{{ 'products.product.related' | t }}</h2>
      <div class="scroll">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4">
          {%- if related_1 -%}
          <div class="col">
            {%- assign related_1 = all_products[related_1] -%}
            {%- include 'product', item: related_1 -%}
          </div>
          {%- endif -%}
          {%- if related_2 -%}
          <div class="col">
            {%- assign related_2 = all_products[related_2] -%}
            {%- include 'product', item: related_2 -%}
          </div>
          {%- endif -%}
          {%- if related_3 -%}
          <div class="col">
            {%- assign related_3 = all_products[related_3] -%}
            {%- include 'product', item: related_3 -%}
          </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </section>
{%- endif -%}
