{%- assign custom_muted = false -%}
{%- assign custom_autoplay = false -%}

{%- if ratio -%}
  {%- assign custom_ratio = ratio -%}
{%- else -%}
  {%- assign calcul_ratio = media.aspect_ratio | plus: 1 -%}
  {%- assign custom_ratio = 100 | divided_by: calcul_ratio | append: '%' -%}
{%- endif -%}

{%- if muted -%}
  {%- assign custom_muted = muted -%}
{%- endif -%}

{%- if autoplay -%}
  {%- assign custom_autoplay = autoplay -%}
{%- endif -%}

{%- if ratio != false -%}
<div class="ratio" style="--bs-aspect-ratio: {{ custom_ratio }}">
{%- endif -%}
  {{ media | video_tag: image_size: poster, autoplay: custom_autoplay, muted: custom_muted }}
{%- if ratio != false -%}
</div>
{%- endif -%}
