.card
    text-decoration: none
    transition: background ease .3s
    &:hover
        background: $gray-100
    &-img-overlay
        color: $white
    &-title
        font-family: $headings-font-family
        font-size: px2rem(18)
