<div class="row">
  <div class="col-md-8 offset-md-2">

    <h1>New Address</h1>
    {% form 'customer_address', customer.new_address %}

    {{ form.errors | default_errors }}

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input type="text" class="form-control" value="" name="address[first_name]" size="30" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input type="text" class="form-control" value="" name="address[last_name]" size="30" />
      </div>
      <div class="col-12 mb-3">
        <label for="company" class="form-label">Company</label>
        <input type="text" class="form-control" value="" name="address[company]" />
      </div>
      <div class="col-12 mb-3">
        <label for="address1" class="form-label">Address</label>
        <input type="text" class="form-control" value="" name="address[address1]" />
      </div>
      <div class="col-12 mb-3">
        <label for="address2" class="form-label">Address 2</label>
        <input type="text" class="form-control" value="" name="address[address2]" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" value="" name="address[city]" />
      </div>
      <div class="col-md-6 mb-3">
        <label for="zip" class="form-label">Zip/Post Code</label>
        <input type="text" value="" name="address[zip]" class="form-control">
      </div>
      <div class="col-md-6 mb-3">
        <label for="province" class="form-label">Province</label>
        <select name="address[province]" class="form-control"></select>
      </div>
      <div class="col-md-6 mb-3">
        <!-- See docs for @shopify/theme-addresses to support Country and Province -->
        <label for="country" class="form-label">Country</label>
        <select name="address[country]" class="form-control"></select>
      </div>
      <div class="col-md-6">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="tel" value="" name="address[phone]" class="form-control">
      </div>
  </div>
</div>
</div>

{% endform %}
