{%- assign message = section.settings.title -%}
{%- assign type = "light" -%}

<p class="alert bg-{{ type }}" role="alert">{{ message }}</p>

{% schema %}
{
  "name": {
    "en": "Adding message to cart",
    "fr": "Ajout d’un message dans le panier"
  },
  "class": "section--message",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Title",
        "fr": "Titre"
      }
    }
  ]
}
{% endschema %}
