{% for block in section.blocks %}
  <section class="section--{{ block.type }} py-5">
    {% case block.type %}
      {% when 'external_video' %}
        {% assign id = block.settings.id_video %}
        {% assign platform = block.settings.id_platform_video %}
        {% include 'component-external-video' %}
      {% when 'image' %}
        {% assign id = block.settings.id_image %}
        {% include 'component-image' %}
    {% endcase %}
  </section>
{% endfor %}

{% schema %}
{
  "name": {
    "en": "Sections",
    "fr": "Sections"
  },
  "settings": [],
  "blocks": [
    {
      "type": "external_video",
      "name": {
        "en": "External Video",
        "fr": "Vidéo externe"
      },
      "settings": [
        {
          "type": "select",
          "id": "id_platform_video",
          "label": {
            "en": "Which platform?",
            "fr": "Quelle plateforme ?"
          },
          "default": "youtube",
          "options": [
            {
              "value": "youtube",
              "label": "Youtube"
            },
            {
              "value": "vimeo",
              "label": "Vimeo"
            },
            {
              "value": "dailymotion",
              "label": "Dailymotion"
            }
          ]
        },
        {
          "type": "text",
          "id": "id_video",
          "label": {
            "en": "Video ID",
            "fr": "ID de la vidéo"
          }
        }
      ]
    },
    {
      "type": "image",
      "name": {
        "en": "Image",
        "fr": "Image"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "id_image",
          "label": {
            "en": "Add image",
            "fr": "Ajouter l’image"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
