{%- assign copyright = section.settings.footer_copyright -%}

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <p>{{ shop.name }}</p>
      <p>{{ shop.description }}</p>
    </div>

    {%- include 'menu-footer' -%}
  </div>
</div>

<hr>

<div class="container text-center">
  <div class="row">
    <div class="col">
      {%- include 'menu-socials' -%}
    </div>
    <div class="col">
      {%- if copyright != blank -%}
        <small>{{ copyright }}</small>
      {%- endif -%}
      {%- include 'menu-legals' -%}
    </div>
</div>

{% schema %}
{
  "name": "Footer",
  "tag": "footer",
  "class": "bg-light py-4",
  "settings": [
    {
      "type": "html",
      "id": "footer_copyright",
      "label": {
        "en": "Copyright",
        "fr": "Copyright"
      },
      "default": {
        "en": "Website by Rue Pavée",
        "fr": "Site internet par Rue Pavée"
      }
    }
  ]
}
{% endschema %}
