{%- assign top_message = section.settings.top_message -%}

{%- if top_message != blank -%}
  <div class="container">
    <small>{{ top_message }}</small>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Top",
  "tag": "section",
  "class": "top",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Informative message at the top of the page.",
        "fr": "Message informatif en haut de la page."
      }
    },
    {
      "type": "textarea",
      "id": "top_message",
      "label": {
        "en": "Message",
        "fr": "Message"
      },
      "placeholder": {
        "en": "Message",
        "fr": "Message"
      }
    }
  ]
}
{% endschema %}
