.cart
    &__notif
        position: relative
        .notif
            position: absolute
            right: -4px
            top: -4px
        &.nav-link
            .notif
                right: 0
                top: 0
    &__qty
        input
            max-width: 100px
    &__product
        &__name
            font-family: $headings-font-family
            margin-bottom: 5px
        ul
            list-style: none
            margin: 0
            padding: 0
        li
            font-size: px2rem(12)
            span
                color: $text-muted

    &__summary
        background-color: $light
        padding: $grid-gutter-width/2
        table
            background-color: $white
            border: 1px solid $border-color
            color: $text-muted
            font-size: px2rem(13)
        th
            font-weight: normal
        th,
        td
            padding-bottom: 10px
            padding-top: 10px
        td
            text-align: right
        .total
            color: $primary
        .btn
            width: 100%

    & &__delete
        padding: 0

    @include media-breakpoint-up(md)
        &__image
            width: calc(150px + #{$grid-gutter-width})
        &__price,
        &__total,
        &__qty,
            width: 100px
        &__delete
            width: 24px
        &__product__name
            font-size: px2rem(18)
        &__summary
            position: sticky
            top: $grid-gutter-width/2

    @include media-breakpoint-up(lg)
        &__image
            width: calc(200px + #{$grid-gutter-width})
        &__price,
        &__total
            width: 200px
        &__product
            li
                font-size: px2rem(12)
        &__qty
            width: 100px
        &__product__name
            font-size: px2rem(20)
        &__summary
            padding: $grid-gutter-width

    @include media-breakpoint-down(md)
        thead
            display: none
        tbody
            tr
                border-bottom: $border-width solid $border-color
                display: grid
                grid-template-columns: repeat(5, 1fr)
                margin: 0 -15px
                padding: $grid-gutter-width/2 0
                &:first-child
                    border-top: $border-width solid $border-color
        &__image
            border: 0
            grid-row: 1/4
            grid-column: 1/3
        &__product,
        &__price,
        &__qty,
        &__delete,
        &__total
            border: 0
            grid-column: 3/6
        & &__product,
        & &__price
            padding-bottom: 0
        &__total
            grid-column: 4/6
            grid-row: 3
        &__qty
            grid-column: 3
            grid-row: 3
        &__delete
            align-items: center
            display: flex
            grid-column: 5
            grid-row: 3
            justify-content: flex-end
        & &__delete
            padding-right: $grid-gutter-width/2
