.product
    &__variant
        display: none
        &__radio
            display: inline-block
            margin-right: 1rem
            input
                display: none
                &:checked + label
                    background-color: $gray-800
                    color: $white
            label
                border: $border-width solid $border-color
                cursor: pointer
                padding: 5px 15px
                user-select: none
                &:hover,
                &:focus
                    background-color: $gray-100

    &__cta
        display: none

    &__widget
        background-color: $white
        bottom: 0
        box-shadow: $box-shadow
        display: none
        left: 0
        padding-bottom: env(safe-area-inset-bottom, $grid-gutter-width/2)
        padding-top: $grid-gutter-width/2
        position: fixed
        right: 0
        z-index: $zindex-fixed
        .container
            align-items: center
            display: flex
        .title
            @extend .h5
            margin-bottom: 0
        .btn
            margin-left: auto
            white-space: nowrap
        &.show
            display: block

    @include media-breakpoint-up(md)
        &__cta
            align-items: center
            display: flex

    @include media-breakpoint-up(xl)
        &__widget
            padding-bottom: $grid-gutter-width/2
