.section
    &--carousel
        .splide
            &__track
                padding-bottom: 0
            &__arrow
                &--next
                    transform: translateY(-50%)
                &--prev
                    transform: translateY(-50%)
            &__pagination
                bottom: $grid-gutter-width / 2


        @include media-breakpoint-up(md)
            &__arrow
                &--next
                    right: $grid-gutter-width / 2
                &--prev
                    left: $grid-gutter-width / 2


        @include media-breakpoint-up(lg)
            .splide
                &__pagination
                    bottom: $grid-gutter-width
