<div class="container">
  {% paginate blog.articles by 5 %}

  <h1>{{ blog.title }}</h1>
  <hr class="my-5">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for article in blog.articles %}
      <div class="col">
        {%- include 'article', article: article -%}
      </div>
    {% endfor %}
  </div>

  {% if paginate.pages > 1 %}
    {%- include 'pagination', paginate: paginate -%}
  {% endif %}

  {% endpaginate %}
</div>
