{%- if collection.image -%}
  {%- include 'push',
    ratio: 'ratio-21x9',
    custom_title: collection.title,
    custom_subtitle: collection.description,
    image: collection.image,
    row_class: 'align-items-center',
    col_class: 'offset-md-4 text-center'-%}
{%- else -%}
<header class="mb-5 text-center">
  <h1>{{ collection.title }}</h1>
  <div class="row">
    <div class="col-md-8 offset-md-2 rte">
      {{ collection.description }}
    </div>
  </div>
</header>
{%- endif -%}

{% paginate collection.products by 16 %}
  <div class="d-md-flex justify-content-between mb-5">
    <h2>{{ collection.all_products_count }} {{ 'collections.products.title' | t }}</h2>
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFaceted" aria-controls="offcanvasFaceted">
      Filter
    </button>
    {%- include 'collection-sorting' -%}
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    {% for product in collection.products %}
      <div class="col">
        {% include 'product', item: product %}
      </div>
    {% else %}
      <p>no matches</p>
    {% endfor %}
  </div>
  {% if paginate.pages > 1 %}
    {%- include 'pagination', paginate: paginate -%}
  {% endif %}
{% endpaginate %}

{%- include 'offcanvas-faceted' -%}
