{% layout 'theme.fluid' %}

<section class="container-fluid p-0 mb-5">
  <div class="card bg-secondary">
    <div class="ratio ratio-21x9">
      {%- if collection.image -%}
        {%- include 'image', src: collection.image, size: '1600x400' -%}
      {%- endif -%}
    </div>
    <div class="card-img-overlay">
      <div class="middle">
        <h1 class="display-1 mb-0">{{ collection.title }}</h1>
        {%- if collection.description != blank -%}
          <div class="rte mt-1">{{ collection.description }}</div>
        {%- endif -%}
      </div>
    </div>
</section>

<div class="container">
  {% for product in collection.products %}
    <div class="mb-5">
      {% include 'product', product: product, featured: true %}
    </div>
  {% else %}
    <p>no matches</p>
  {% endfor %}
</div>
