<h1>{{ collection.title }}</h1>
{%- if collection.image -%}
  {%- include 'image', src: collection.image -%}
{%- endif -%}
{%- if collection.description != blank -%}
  <div class="rte">{{ collection.description }}</div>
  <hr class="my-5">
{%- endif -%}

{% paginate collection.products by 2 %}
  {%- include 'collection-sorting' -%}
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    {% for product in collection.products %}
      <div class="col">
        {% include 'product', item: product %}
      </div>
    {% else %}
      <p>no matches</p>
    {% endfor %}
  </div>
  {% if paginate.pages > 1 %}
    {%- include 'pagination', paginate: paginate -%}
  {% endif %}
{% endpaginate %}
