<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
{% for collection in collections %}
  {% unless collection.handle == 'frontpage' %}
    <div class="col">
      {%- include 'collection' -%}
    </div>
  {% endunless %}
{% endfor %}
</div>
