<h1>{{ 'general.search.title' | t }}</h1>
<div class="row">
  <div class="col-md-6">
    <form action="/search" method="get" role="search">
      <div class="input-group">
        <input type="search" class="form-control" name="q" value="{{ search.terms | escape }}">
        <button type="submit" class="btn btn-primary">{{ 'general.search.submit' | t }}</button>
      </div>
    </form>
  </div>
</div>

{% paginate search.results by 10 %}
  {% if search.performed %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
    {%- for item in search.results -%}
      <div class="col">
        {%- include 'product', item: product -%}
      </div>
    {%- else -%}
      <p>no results</p>
    {%- endfor -%}
    </div>
  {% endif %}
  {% if paginate.pages > 1 %}
    {%- include 'pagination', paginate: paginate -%}
  {% endif %}
{% endpaginate %}
